@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;800&display=swap");

.aboutfont {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: black ;
  /* background-image: linear-gradient(to left,#defc7c,#e7fb30, #b3b901); */

}
.imgcss {
  border-radius: 30px;
 

  
}
.colorfont {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
  padding-bottom: 4px;
  background-image: linear-gradient(to left,#defc7c,#e7fb30, #b3b901);

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 15sec;
  font-family: "Poppins", sans-serif;
}

